# Exploratory Data Analysis

In [1]:
# Import the helper python files
import sys
import os

# Get the absolute path to the project's root directory (QRT)
# This goes 'up' one level from the 'models' folder
PROJECT_ROOT = os.path.abspath('..')

# Add the project root to the system path
if PROJECT_ROOT not in sys.path:
    sys.path.append(PROJECT_ROOT)

# Now you can import your helper files
import preprocess
import data_sourcing
import visualisations

print("Successfully imported helper modules from project root.")

Successfully imported helper modules from project root.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/data.csv')

In [4]:
df.head()

,Date,NVDA.O (TRDPRC_1),JPM (TRDPRC_1),GS (TRDPRC_1),AAPL.O (TRDPRC_1),MSFT.O (TRDPRC_1),TSLA.O (TRDPRC_1),META.O (TRDPRC_1),GOOGL.O (TRDPRC_1),BLK (TRDPRC_1),...,TSM (TRDPRC_1),XAU= (BID),AMZN.O (TRDPRC_1),WMT (TRDPRC_1),COST.O (TRDPRC_1),NKE (TRDPRC_1),PFE (TRDPRC_1),TSN (TRDPRC_1),SPY (TRDPRC_1),F (TRDPRC_1)
0,NaN,Close,Close,Close,Close,Close,Close,Close,Close,Close,...,Close,Close,Close,Close,Close,Close,Close,Close,Close,Close
1,21/11/2025,182.8,298.76,778.99,272.88,475.14,400.57,596.86,302.23,1009.2,...,277.67,4090.59,221.07,105.42,901.48,63.06,25.28,53.74,663.13,12.89
2,20/11/2025,180.64,298.38,773.7,266.25,478.43,395.23,589.15,289.45,992.52,...,277.5,4076.99,217.14,107.11,893.29,61.43,24.4,52.71,652.53,12.41
3,19/11/2025,186.52,303.27,785.99,268.56,487.12,403.99,590.32,292.81,1014.68,...,282.37,4080.66,222.69,100.61,890.6,62.64,24.88,53.05,662.63,12.9
4,18/11/2025,181.36,299.41,776.3,267.44,493.79,401.25,597.69,284.28,1019.14,...,277.91,4067.6,222.55,101.39,895.08,62.49,25.45,53.66,660.08,13.02