In [ ]:
import os 
os.path.append(C:\Users\trund\QRT\gabriel_simple_strategies)

import backtesting # To backtest the strategy
import eda_pipeline

from typing import Optional, List, Tuple, Dict
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

ModuleNotFoundError: No module named 'backtesting'

In [10]:
import requests

url = "https://api.nasdaq.com/api/quote/list-type/nasdaq100"
headers = {"User-Agent": "Mozilla/5.0"}

response = requests.get(url, headers=headers).json()

data = response['data']['data']['rows']
tickers = [row['symbol'] for row in data]

print(tickers)

['AAPL', 'AMAT', 'AMGN', 'CMCSA', 'INTC', 'KLAC', 'PCAR', 'CTAS', 'PAYX', 'LRCX', 'ADSK', 'ROST', 'MNST', 'MSFT', 'ADBE', 'FAST', 'EA', 'CSCO', 'REGN', 'IDXX', 'VRTX', 'BIIB', 'ODFL', 'QCOM', 'GILD', 'SNPS', 'SBUX', 'INTU', 'MCHP', 'ORLY', 'COST', 'CPRT', 'ASML', 'TTWO', 'AMZN', 'MSTR', 'CTSH', 'CSGP', 'NVDA', 'BKNG', 'ON', 'ISRG', 'MRVL', 'ADI', 'AEP', 'AMD', 'ADP', 'AZN', 'CDNS', 'CSX', 'HON', 'MAR', 'MU', 'XEL', 'EXC', 'PEP', 'ROP', 'TXN', 'AXON', 'MDLZ', 'NFLX', 'GOOGL', 'DXCM', 'TMUS', 'LULU', 'MELI', 'KDP', 'AVGO', 'VRSK', 'FTNT', 'CHTR', 'TSLA', 'NXPI', 'FANG', 'META', 'PANW', 'WDAY', 'CDW', 'GOOG', 'PYPL', 'SHOP', 'KHC', 'TEAM', 'CCEP', 'TTD', 'BKR', 'ZS', 'PDD', 'CRWD', 'DDOG', 'PLTR', 'ABNB', 'DASH', 'APP', 'GFS', 'CEG', 'WBD', 'GEHC', 'LIN', 'ARM', 'TRI']

In [30]:
import requests
import pandas as pd

url = "https://en.wikipedia.org/wiki/Nasdaq-100"

# Add a real browser User-Agent
headers = {
    "User-Agent": (
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
        "AppleWebKit/537.36 (KHTML, like Gecko) "
        "Chrome/120.0.0.0 Safari/537.36"
    )
}

response = requests.get(url, headers=headers)
html = response.text

# read_html from raw HTML instead of URL
tables = pd.read_html(html)

print(f"Loaded {len(tables)} tables")

Loaded 19 tables

C:\Users\trund\AppData\Local\Temp\ipykernel_27412\767392630.py:19: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(html)

In [32]:
for i, df in enumerate(tables):
    print("TABLE", i)
    print("shape:", df.shape)
    print("columns:", df.columns.tolist())
    print(df.head(1).to_dict(orient="records"))
    print("-" * 60)

TABLE 0
shape: (11, 2)
columns: [0, 1]
[{0: 'Nasdaq-100 Index from 1985 to 2015', 1: 'Nasdaq-100 Index from 1985 to 2015'}]
------------------------------------------------------------
TABLE 1
shape: (2, 3)
columns: ['Category', 'All-Time Highs[5]', 'All-Time Highs[5].1']
[{'Category': 'Closing', 'All-Time Highs[5]': 24761.07, 'All-Time Highs[5].1': 'Monday, September 22, 2025'}]
------------------------------------------------------------
TABLE 2
shape: (26, 3)
columns: ['Milestone[6][obsolete\xa0source] (closing)', 'Date of Record (closing)[6]', 'Trading Days[6]']
[{'Milestone[6][obsolete\xa0source] (closing)': 1000, 'Date of Record (closing)[6]': 'July 8, 1997', 'Trading Days[6]': 3143}]
------------------------------------------------------------
TABLE 3
shape: (40, 4)
columns: ['Year', 'Closing level', 'Change in Index in Points', 'Change in Index in\xa0%']
[{'Year': 1985, 'Closing level': 132.29, 'Change in Index in Points': nan, 'Change in Index in\xa0%': nan}]
------------------------------------------------------------
TABLE 4
shape: (102, 4)
columns: ['Ticker', 'Company', 'ICB Industry[14]', 'ICB Subsector[14]']
[{'Ticker': 'ADBE', 'Company': 'Adobe Inc.', 'ICB Industry[14]': 'Technology', 'ICB Subsector[14]': 'Computer Software'}]
------------------------------------------------------------
TABLE 5
shape: (208, 6)
columns: [('Date', 'Date'), ('Added', 'Ticker'), ('Added', 'Security'), ('Removed', 'Ticker'), ('Removed', 'Security'), ('Reason', 'Reason')]
[{('Date', 'Date'): 'October 30, 2025', ('Added', 'Ticker'): 'SOLS', ('Added', 'Security'): 'Solstice Advanced Materials', ('Removed', 'Ticker'): nan, ('Removed', 'Security'): nan, ('Reason', 'Reason'): 'Solstice Advanced Materials was spun off from Honeywell.[16]'}]
------------------------------------------------------------
TABLE 6
shape: (1, 2)
columns: ['vteCompanies of the Nasdaq-100 index', 'vteCompanies of the Nasdaq-100 index.1']
[{'vteCompanies of the Nasdaq-100 index': "Adobe ADP AMD Airbnb Alphabet Amazon AEP Amgen Analog Devices Apple Applied Materials AppLovin Arm ASML AstraZeneca Atlassian Autodesk Axon Baker Hughes Biogen Booking Holdings Broadcom Cadence CDW Charter Communications Cintas Cisco Coca-Cola Europacific Partners Cognizant Comcast Constellation Energy Copart CoStar Costco CrowdStrike CSX Datadog Dexcom Diamondback Energy DoorDash Electronic Arts Exelon Fastenal Fortinet GE HealthCare Gilead GlobalFoundries Honeywell Idexx Laboratories Intel Intuit Intuitive Surgical Keurig Dr Pepper KLA Kraft Heinz Lam Research Linde Lululemon Marriott International Marvell Mercado Libre Meta Microchip Micron Microsoft MicroStrategy Mondelez International Monster Beverage Netflix Nvidia NXP O'Reilly Auto Parts Old Dominion onsemi Paccar Palantir Palo Alto Networks Paychex PayPal PDD Holdings PepsiCo Qualcomm Regeneron Roper Technologies Ross Stores Shopify Starbucks Synopsys Take-Two Interactive T-Mobile US Tesla Texas Instruments Thomson Reuters Trade Desk Verisk Vertex Warner Bros. Discovery Workday Xcel Energy Zscaler", 'vteCompanies of the Nasdaq-100 index.1': "Adobe ADP AMD Airbnb Alphabet Amazon AEP Amgen Analog Devices Apple Applied Materials AppLovin Arm ASML AstraZeneca Atlassian Autodesk Axon Baker Hughes Biogen Booking Holdings Broadcom Cadence CDW Charter Communications Cintas Cisco Coca-Cola Europacific Partners Cognizant Comcast Constellation Energy Copart CoStar Costco CrowdStrike CSX Datadog Dexcom Diamondback Energy DoorDash Electronic Arts Exelon Fastenal Fortinet GE HealthCare Gilead GlobalFoundries Honeywell Idexx Laboratories Intel Intuit Intuitive Surgical Keurig Dr Pepper KLA Kraft Heinz Lam Research Linde Lululemon Marriott International Marvell Mercado Libre Meta Microchip Micron Microsoft MicroStrategy Mondelez International Monster Beverage Netflix Nvidia NXP O'Reilly Auto Parts Old Dominion onsemi Paccar Palantir Palo Alto Networks Paychex PayPal PDD Holdings PepsiCo Qualcomm Regeneron Roper Technologies Ross Stores Shopify Starbucks Synopsys Take-Two Interactive T-Mobile US Tesla Texas Instruments Thomson Reuters Trade Desk Verisk Vertex Warner Bros. Discovery Workday Xcel Energy Zscaler"}]
------------------------------------------------------------
TABLE 7
shape: (4, 3)
columns: ['vteNasdaq, Inc.', 'vteNasdaq, Inc..1', 'vteNasdaq, Inc..2']
[{'vteNasdaq, Inc.': 'Operator of the Nasdaq, Nasdaq Baltic and Nasdaq Nordic stock exchange systems', 'vteNasdaq, Inc..1': 'Operator of the Nasdaq, Nasdaq Baltic and Nasdaq Nordic stock exchange systems', 'vteNasdaq, Inc..2': 'Operator of the Nasdaq, Nasdaq Baltic and Nasdaq Nordic stock exchange systems'}]
------------------------------------------------------------
TABLE 8
shape: (35, 2)
columns: ['vteStock market indices', 'vteStock market indices.1']
[{'vteStock market indices': 'Global', 'vteStock market indices.1': "Equities MSCI ACWI Index MSCI World S&P Global 100 S&P Global 1200 The Global Dow Dow Jones Global Titans 50 FTSE All-World index series OTCM QX ADR 30 Index Commodities Bloomberg Commodity Index S&P GSCI Deutsche Bank Liquid Commodity Index NCDEX Commodity Index Refinitiv Equal Weight Commodity Index Refinitiv/CoreCommodity CRB Index Rogers International Commodity Index Standard & Poor's Commodity Index"}]
------------------------------------------------------------
TABLE 9
shape: (2, 2)
columns: [0, 1]
[{0: 'Equities', 1: 'MSCI ACWI Index MSCI World S&P Global 100 S&P Global 1200 The Global Dow Dow Jones Global Titans 50 FTSE All-World index series OTCM QX ADR 30 Index'}]
------------------------------------------------------------
TABLE 10
shape: (4, 2)
columns: [0, 1]
[{0: 'Asia', 1: 'S&P Asia 50'}]
------------------------------------------------------------
TABLE 11
shape: (6, 2)
columns: [0, 1]
[{0: 'Energy', 1: 'Amex Oil Index'}]
------------------------------------------------------------
TABLE 12
shape: (5, 2)
columns: [0, 1]
[{0: 'US', 1: 'Major Dow Jones Industrial Average NYSE Composite Nasdaq Composite Nasdaq-100 S&P 500 Russell 2000 Wilshire 5000 Other Dow Jones Transportation Average Dow Jones Utility Average NYSE Arca Tech 100 Index S&P 100 S&P 400 S&P 600 Russell 1000 Russell 3000'}]
------------------------------------------------------------
TABLE 13
shape: (2, 2)
columns: [0, 1]
[{0: 'Major', 1: 'Dow Jones Industrial Average NYSE Composite Nasdaq Composite Nasdaq-100 S&P 500 Russell 2000 Wilshire 5000'}]
------------------------------------------------------------
TABLE 14
shape: (3, 2)
columns: [0, 1]
[{0: 'UK', 1: 'FT 30 FTSE 100 Index FTSE 250 Index FTSE 350 Index FTSE SmallCap Index FTSE All-Share Index FTSE Fledgling Index FTSE AIM UK 50 Index FTSE AIM 100 Index'}]
------------------------------------------------------------
TABLE 15
shape: (5, 2)
columns: [0, 1]
[{0: 'China', 1: 'SSE Composite SZSE Component SSE 50 Index SSE 180 Index CSI 100 Index CSI 300 Index SZSE 100 Index SZSE 200 Index SZSE 300 Index'}]
------------------------------------------------------------
TABLE 16
shape: (2, 2)
columns: [0, 1]
[{0: 'Australia', 1: 'S&P/ASX 20 S&P/ASX 50 S&P/ASX 200 S&P/ASX 300 All Ordinaries'}]
------------------------------------------------------------
TABLE 17
shape: (1, 2)
columns: ['vteMajor United States stock market indices', 'vteMajor United States stock market indices.1']
[{'vteMajor United States stock market indices': 'Dow Jones Industrial Average historical components NYSE Composite Nasdaq Composite Nasdaq-100 S&P 500 Russell 2000 Wilshire 5000', 'vteMajor United States stock market indices.1': 'Dow Jones Industrial Average historical components NYSE Composite Nasdaq Composite Nasdaq-100 S&P 500 Russell 2000 Wilshire 5000'}]
------------------------------------------------------------
TABLE 18
shape: (8, 2)
columns: ['vteMajor North and South American stock market indices', 'vteMajor North and South American stock market indices.1']
[{'vteMajor North and South American stock market indices': 'United States', 'vteMajor North and South American stock market indices.1': 'Dow Jones Industrial Average Dow Jones Transportation Average Dow Jones Utility Average Nasdaq-100 Nasdaq Composite NYSE Arca Tech 100 Index NYSE Composite S&P 100 S&P 400 S&P 500 S&P 600 Russell 1000 Index Russell 2000 Index Russell 3000 Index Wilshire 5000'}]
------------------------------------------------------------

In [36]:
df = tables[5]
df

                  Date  Added                              Removed  \
                  Date Ticker                     Security  Ticker
0     October 30, 2025   SOLS  Solstice Advanced Materials     NaN
1        July 28, 2025    TRI              Thomson Reuters     NaN
2        July 17, 2025    NaN                          NaN    ANSS
3         May 19, 2025   SHOP                      Shopify     MDB
4    December 23, 2024   PLTR        Palantir Technologies    ILMN
..                 ...    ...                          ...     ...
203      July 12, 2007   FWLT               Foster Wheeler    BMET
204       June 1, 2007   CEPH                     Cephalon    MEDI
205      March 8, 2007   UAUA              UAL Corporation    AEOS
206  February 14, 2007  RYAAY                      Ryanair    APCC
207   February 1, 2007   LOGI                     Logitech    CMVT

                                \
                      Security
0                          NaN
1                          NaN
2                        Ansys
3                      MongoDB
4                      Ilumina
..                         ...
203                     Biomet
204                  MedImmune
205  American Eagle Outfitters
206  American Power Conversion
207        Comverse Technology

                                                Reason
                                                Reason
0    Solstice Advanced Materials was spun off from ...
1     Thomson Reuters replaced Ansys in the index.[17]
2                      Ansys was acquired by Synopsys.
3    MongoDB did not meet the minimum monthly weigh...
4                     Annual index reconstitution.[19]
..                                                 ...
203                     Biomet was taken private.[111]
204        MedImmune was acquired by AstraZeneca.[112]
205  American Eagle Outfitters transferred its list...
206       APC was acquired by Schneider Electric.[115]
207  Comverse did not meet the minimum monthly weig...

[208 rows x 6 columns]

In [ ]:
# I need reproducible code to obtain the NASDAQ data based on when we are (so we need something quite automated, cannot hardcode anything)

import requests
import pandas as pd

url = "https://en.wikipedia.org/wiki/Nasdaq-100"

# Add a real browser User-Agent
headers = {
    "User-Agent": (
        "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
        "AppleWebKit/537.36 (KHTML, like Gecko) "
        "Chrome/120.0.0.0 Safari/537.36"
    )
}

response = requests.get(url, headers=headers)
html = response.text

# read_html from raw HTML instead of URL
tables = pd.read_html(html)

print(f"Loaded {len(tables)} tables")

for i, df in enumerate(tables):
    print("TABLE", i)
    print("shape:", df.shape)
    print("columns:", df.columns.tolist())
    print("\n")
    print(df.head(1).to_dict(orient="records"))
    print("-" * 60)